language: android
sudo: required
jdk: oraclejdk8

android:
    components:
        - tools
        - platform-tools
        - build-tools-29.0.0
        - android-28
        - extra-google-google_play_services
        - extra-google-m2repository
        - extra-android-m2repository
        - addon-google_apis-google-28
        - sys-img-armeabi-v7a-android-28

before_install:
    - sudo apt-get update
    - sudo apt-get install -y make build-essential libssl-dev zlib1g-dev libbz2-dev libreadline-dev
      libsqlite3-dev wget curl llvm libncurses5-dev libncursesw5-dev xz-utils tk-dev
    - git clone https://github.com/pyenv/pyenv.git ~/.pyenv
    - echo 'export PYENV_ROOT="$HOME/.pyenv"' >> ~/.bash_profile
    - echo 'export PATH="$PYENV_ROOT/bin:$PATH"' >> ~/.bash_profile
    - echo 'eval "$(pyenv init -)"' >> ~/.bash_profile
    - git clone https://github.com/yyuu/pyenv-virtualenv.git ~/.pyenv/plugins/pyenv-virtualenv
    - echo 'eval "$(pyenv virtualenv-init -)"' >> ~/.bash_profile
    - source ~/.bash_profile
    - pyenv versions
    - pyenv install 3.6.1
    - pyenv virtualenv 3.6.1 undang
    - pyenv activate undang
    - pip install -r requirements.txt
    - curl -sL https://deb.nodesource.com/setup_9.x | sudo -E bash -
    - sudo apt-get install nodejs
    - sudo apt-get install build-essential
    - PATH=$PATH:$JAVA_HOME/bin
    - npm install appium
    - npm install appium-doctor
    - "./node_modules/.bin/appium-doctor"
    - "./node_modules/.bin/appium --log-level info > appium_log.txt &"
    - echo yes | sdkmanager "build-tools;28.0.3"
    - echo yes | sdkmanager "platforms;android-28"

before_script:
    - sdkmanager "system-images;android-28;google_apis;x86"
    - echo "no" | avdmanager --verbose create avd --force --name "PF" --device "pixel" --package "system-images;android-28;google_apis;x86" --tag "google_apis" --abi "x86"
    - emulator -avd PF -no-skin -no-window &
    - android-wait-for-emulator
    - adb shell input keyevent 82 &

script:
    - "./gradlew assemble" # Build
    - python3 -m pytest src/spec/* # Test

after_script:
    - cat ./appium_log.txt # Check appium log
