Appium-Python-Client~=1.0.1
selenium~=3.141.0
pytest~=5.4.3
allure-pytest
pytest-html
pytest-parallel
pytest-xdist
pytest-rerunfailures
pytest-sugar
pytest-json
pymysql~=0.9.3
sshtunnel~=0.1.5
requests~=2.24.0